.element {
  background-color: #cccccc;
  color: black;
  border-radius: 35px;
  width: 422px;
  height: 200px;
  margin: 0px 14px 0px 14px;
  text-align: center;
}

.element.selected {
  background-color: rgb(168 188 255);
}

.element-title {
  font-size: 22px;
  padding-top: 19px;
  font-weight: bold;
}

.element-symbol {
  font-size: 104px;
  bottom: 22px;
  position: relative;
}

.element-symbol-hide {
  /*font-size: 85px;*/
  display: none;
}

.element-message-hide {
  display: none;
}

.element-message {
  /*display: none;*/
  display: block;
}

.element:hover {
  background-color: #dddddd;
  cursor: pointer;
}

.element.selected:hover {
  background-color: rgb(193 195 255);
}

@media (max-width: 768px) {
  .element {
    background-color: #cccccc;
    color: black;
    border-radius: 35px;
    width: 365px;
    height: 205px;
    margin: 0px 14px 0px 14px;
    text-align: center;
  }
  .element-title {
    padding-top: 0px;
    font-size: 30px;
    font-weight: bold;
  }
  .element-symbol {
    font-size: 88px;
  }
}
