.element {
    background-color: #cccccc;
    color: black;
    border-radius: 35px;
    margin: 10px;
    width: 364px;
    height: 218px;
    text-align: center;
}

.element.selected {
    background-color: rgb(164, 185, 255);
}

.element-title {
    font-size: 16px;
    padding-top: 19px;
    font-weight: bold;
}

.element-symbol {
    font-size: 76px;
    /*display: none;*/
}

.element-symbol-hide {
    /*font-size: 85px;*/
    display: none;
}

.element-message-hide {
    display: none;
}

.element-message {
    /*display: none;*/
    display: block;
}

.element:hover {
    background-color: #dddddd;
    cursor: pointer;
}

element.selected:hover {
    background-color: rgb(146, 116, 216);
}