.element {
    background-color: #cccccc;
    color: black;
    border-radius: 35px;
    margin: 10px;
    width: 294px;
    height: 190px;
    text-align: center;
}

.element-title {
    font-size: 16px;
    padding-top: 19px;
    font-weight: bold;
}

.element-symbol {
    font-size: 76px;
    /*display: none;*/
}

.element-symbol-hide {
    /*font-size: 85px;*/
    display: none;
}

.element-message-hide {
    display: none;
}

.element-message {
    /*display: none;*/
    background-color: aliceblue;
    display: block;
}

.element:hover {
    background-color: #dddddd;
    cursor: pointer;
}