.container {
  width: 100%;
  height: 180px;
  background-color: black;
  color: white;
}

.column {
  justify-content: center;
  align-items: center;
  color: inherit;
}

.row {
  text-align: center;
  color: inherit;
  padding: 50px 5px 5px 5px;
}

@media (max-width: 768px) {
  .row {
    text-align: center;
    color: inherit;
    padding: 50px 5px 5px 5px;
    font-size: smaller;
  }
  .copyright {
    font-size: 15px;
  }
}
