.component-container.submit-info {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  background-color: transparent;
  box-shadow: none;
}

.status-bar {
  max-width: 847px;
  display: flex;
  flex-wrap: nowrap;
  border-bottom: 2px solid #eaeaea;
  width: 873px;
  margin-left: -2px;
  position: absolute;
  height: 51px;
}

.status-element {
  display: flex;
  border-bottom: 4px solid #b3b3ff;
  padding: 14px;
  margin-left: 70px;
  margin-right: 50px;
  font-size: smaller;
  font-weight: 400;
  position: absolute;
}

.status-element.next {
  left: 200px;
  padding: 14px 21px;
  border-bottom: 4px solid #b3b3ff;
}
.status-element.next.disabled {
  border: none;
}

.status-element.passed {
  border-color: #0ca526;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  color: #b4afb5;
}

.link-submit {
  padding: 3px;
}

@media (max-width: 920px) {
  .status-bar {
    max-width: 294px;
    display: flex;
    flex-wrap: nowrap;
    border-bottom: 2px solid #eaeaea;
    width: 294px;
    margin-left: -2px;
    position: absolute;
    height: 51px;
    background-color: #fbfbfb;
  }
  .status-element {
    margin-left: 0px;
  }
  .status-element.next {
    left: 135px;
  }
  .component-container {
    max-width: 355px;
    margin: auto;
    margin-top: 0px;
    box-shadow: 0px 0px 800px #f5f5f5;
    padding-top: 0px;
  }
  .link-submit {
    color: #9eaeff;
  }
}
