.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.input-container.incorrect {
  border: 1px solid red;
  border-radius: 35px;
}

.ic1 {
  margin-top: 20px;
  width: 32%;
  margin-right: 30px;
  display: inline-block;
}

.ic2 {
  margin-top: 20px;
}

.inline-second-item {
  width: 62%;
  margin-right: 0;
}

.inline-second-item.incorrect {
  border: 1px solid red;
  border-radius: 35px;
}

input {
  background-color: #f6f6f6;
  border-radius: 35px;
  border: 0;
  box-sizing: border-box;
  color: #000;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 16px 30px 0;
  width: 100%;
}

.required-field {
  float: right;
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 6px;
}

.placeholder {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.help-message {
  position: absolute;
  color: grey;
  opacity: 0;
  left: 19px;
  bottom: 15px;
  font-size: 12px;
  pointer-events: none;
}

input:focus ~ .placeholder,
input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-13px) translateX(11px) scale(0.75);
}

input:not(:placeholder-shown) ~ .placeholder {
  color: #808097;
}

input:focus {
  background-color: #ffffff;
  border: 1px solid #9eaeff;
}


input:focus ~ .help-message {
  transform: translateY(32px);
  opacity: 1;
}


.input-container.ic1.selector-container {
  background-color: #f6f6f6;
  border-radius: 35px;
  border: 0;
  box-sizing: border-box;
  color: #000;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 10px 14px 10px;
  width: 32%;
}

.input-container.ic2.selector-container {
  background-color: #f6f6f6;
  border-radius: 35px;
  border: 0;
  box-sizing: border-box;
  color: #000;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 10px 14px 10px;
  width: 100%;
}

label.placeholder.textarea {
  top: 120px;
}

.fieldcheck {
  position: absolute;
  right: 44px;
  bottom: 5px;
  display: none
}

.fieldcheck.checked {
  display: block;
}

@media (max-width: 920px) {
  .input-container.ic1.selector-container {
    width: 100%;
  }
  .input-container.ic1.inline-second-item {
    border-radius: 35px;
    border: 0;
    color: #000;
    font-size: 18px;
    height: 50px;
    outline: 0;
    width: 100%;
  }
}
