.header-position {
  display: flex;
  flex-wrap: nowrap;
  position: absolute;
  z-index: 999;
  background: #fbfbfb;
  width: -webkit-fill-available;
  width: -moz-fill-available;
  width: fill-available;
}

/* .line {
  width: 100%;
  height: 5px;
  background-color: #000000;
  display: none;
  margin: 0% auto;
} */

.container {
  width: 100%;
  background-color: #F8F8F8;
  position: sticky;
  top: 0;
}

.header {
  display: flex;
  background-color: white;
  float: right;
  width: 100%;
  flex-direction: row-reverse;
}

.nav {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: white;
  overflow: hidden;
}

.menu a {
  display: block;
  padding: 25px 33px 25px 33px;
  color: black;
  font-size: smaller;
  font-weight: bold;
}

.menu a:hover {
  background-color: white;
}

.nav {
  max-height: 0;
  transition: max-height 0.5s ease-out;
}

.menu a.selected-tab {
  text-decoration: underline;
}

.hamb {
  cursor: pointer;
  float: right;
  padding: 30px 35px;
  border-left: 2px solid lightgray;
}

.hamb-line {
  background: #727272;
  display: block;
  height: 2px;
  position: relative;
  width: 24px;
  margin: 4px;
}

.alter-header {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.alter-menu {
  height: 500px;
  width: 90%;
}

.alter-menu-element {
  height: 100px;
  padding: 30px;
  width: 100%;
}

.alter-menu-element:hover {
  cursor: pointer;
}

.hamb.active .hamb-line:nth-child(1) {
  transform: translateY(4px) rotate(45deg);
}

.hamb.active .hamb-line:nth-child(2) {
  opacity: 0;
}

.hamb.active .hamb-line:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

/* .hamb-line::before,
.hamb-line::after {
  background: black;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.hamb-line::before {
  top: 5px;
}

.hamb-line::after {
  top: -5px;
} */

/* .side-menu {
  display: none;
} */

/* Toggle menu icon */

/* .side-menu:checked ~ nav {
  height: 100%;
} */

/* .side-menu:checked ~ .hamb .hamb-line {
  background: transparent;
}

.side-menu:checked ~ .hamb .hamb-line::before {
  transform: rotate(-45deg);
  top: 0;
}

.side-menu:checked ~ .hamb .hamb-line::after {
  transform: rotate(45deg);
  top: 0;
} */

/* Responsiveness */

@media (min-width: 920px) {
  .nav {
    max-height: none;
    top: 0;
    position: relative;
    float: right;
    width: fit-content;
    background-color: transparent;
  }

  .menu li {
    float: left;
  }

  .menu a:hover {
    background-color: transparent;
    color: black;
  }

  .hamb {
    display: none;
  }

  .container {
    background-color: #9EAEFF;
    border-bottom: 5px solid black;
  }

  .header {
    width: 90%;
    display: flex;
    margin: auto;
    float: none;
    justify-content: center;
  }

  .line {
    display: block;
    margin-bottom: 25px;
  }
}
