.product-select-header {
  margin: auto;
  margin-top: 90px;
  width: 65%;
}

.header-title {
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
}

.header-text {
  font-family: "Arial";
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #80828a;
}

.container {
  width: 100%;
  max-width: 1000px;
  height: 80%;
  max-height: 1000px;
  background-color: white;
  justify-content: space-around;
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  padding-bottom: 169px;
}

.next-button {
  margin: 27px 10px 10px 10px;
  display: flex;
  justify-content: end;
}

.button {
  background-color: #cccccc;
  border: none;
  border-radius: 30px;
  color: rgb(27, 27, 27);
  padding: 13px 90px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

@media (max-width: 920px) {
  .container {
    width: 100%;
    max-width: 1000px;
    height: 80%;
    max-height: 1000px;
    background-color: white;
    justify-content: space-around;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    padding-bottom: 158px;
  }
  .product-select-header {
    margin-top: 9px;
    width: 100%;
    padding-top: 67px;
    padding-left: 21px;
  }
  .header-text {
    color: #80828a;
    width: 269px;
    height: 50px;
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
  }
  .header-title {
    color: #212e35;
    width: 260px;
    height: 17px;
    font-family: "Arial";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0.02em;
  }
}
