.container {
  width: 100%;
  max-width: 1000px;
  height: 80%;
  max-height: 1000px;
  background-color: white;
  justify-content: center;
  display: flex;
  margin: auto;
  flex-wrap: wrap;
}

.next-button {
  margin: 27px 10px 10px 10px;
  display: flex;
  justify-content: end;
}

.button {
  background-color: #cccccc;
  border: none;
  border-radius: 30px;
  color: rgb(27, 27, 27);
  padding: 13px 90px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
