.form {
  background-color: #ffffff;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 20px;
  max-width: 610px;
  margin: auto;
  margin-top: 13px;
}

.title {
  color: #2c2c2c;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-top: 30px;
}

.subtitle {
  color: #2c2c2c;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: unset;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 20px;
  width: 32%;
  margin-right: 30px;
  display: inline-block;
}

.ic2 {
  margin-top: 20px;
}

.inline-second-item {
  width: 62%;
  margin-right: 0;
}

.input {
  background-color: #f6f6f6;
  border-radius: 35px;
  border: 0;
  box-sizing: border-box;
  color: #000;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.required-field {
  float: right;
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 6px;
}

.placeholder {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.help-message {
  position: absolute;
  color: grey;
  opacity: 0;
  left: 19px;
  bottom: 15px;
  font-size: 12px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-20px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #808097;
}

.input.description:focus {
  background-color: #ffffff;
  border: 1px solid #9EAEFF;
}

.input:focus ~ .placeholder.textarea,
.input:not(:placeholder-shown) ~ .placeholder.textarea {
  transform: translateY(-120px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder.textarea {
  color: #808097;
}

.input:focus ~ .help-message {
  transform: translateY(32px);
  opacity: 1;
}

input:focus {
  background-color: #ffffff;
  border: 1px solid #9EAEFF;
}

.input:focus ~ .placeholder {
  color: #000;
}

.input.selector {
  width: 96%;
}

.input.description {
  padding-top: 15px;
  max-width: 570px;
  min-width: 570px;
  min-height: 292px;
  height: 300px;
}

.description-area {
  min-height: 300px;
  height: fit-content;
}

.input-container.ic1.selector-container {
  background-color: #f6f6f6;
  border-radius: 35px;
  border: 0;
  box-sizing: border-box;
  color: #000;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 10px 14px 10px;
  width: 32%;
}

.input-container.ic2.selector-container {
  background-color: #f6f6f6;
  border-radius: 35px;
  border: 0;
  box-sizing: border-box;
  color: #000;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 10px 14px 10px;
  width: 100%;
}

label.placeholder.textarea {
  top: 120px;
}

.button-wrapper {
  top: 199px;
  left: 495px;
  position: absolute
}

.button-submit {
  background-color: #9EAEFF;
  border: none;
  border-radius: 30px;
  color: rgb(27, 27, 27);
  padding: 13px 90px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  height: 50px;
}

.firstname-check {
  position: absolute;
  right: 36px;
  bottom: 5px;
  display: none;
}

.input.firstname:valid ~ .firstname-check {
  display: block;
}

.lastname-check {
  position: absolute;
  right: 36px;
  bottom: 5px;
  display: none;
}

.input.lastname:valid ~ .lastname-check {
  display: block;
}

.email-check {
  position: absolute;
  right: 36px;
  bottom: 5px;
  display: none;
}

.input.email:valid ~ .email-check {
  display: block;
}

.phone-check {
  position: absolute;
  right: 36px;
  bottom: 5px;
  display: none;
}

.input.phone:valid ~ .phone-check {
  display: block;
}

.company-check {
  position: absolute;
  right: 36px;
  bottom: 5px;
  display: none;
}

.input.company:valid ~ .company-check {
  display: block;
}

@media (max-width: 920px) {
  .input-container.ic1.selector-container {
    width: 100%;
  }
  .input-container.ic1.inline-second-item {
    border-radius: 35px;
    border: 0;
    color: #000;
    font-size: 18px;
    height: 50px;
    outline: 0;
    width: 100%;
  }
  .title {
    color: #2c2c2c;
    font-family: sans-serif;
    font-size: 22px;
    font-weight: 600;
    margin-top: 50px;
  }
  .subtitle {
    color: #8b8b8b;
    font-family: sans-serif;
    font-size: 19px;
    font-weight: unset;
  }
  .input.description {
    padding-top: 15px;
    max-width: 315px;
    min-width: 315px;
    min-height: 292px;
    height: 300px;
  }
  .description-area {
    min-height: 300px;
    height: fit-content;
  }
  .button-wrapper {
    top: 258px;
    left: 159px;
    position: absolute;
  }
  .button-submit {
    background-color: #9EAEFF;
    border: none;
    border-radius: 30px;
    color: rgb(27, 27, 27);
    padding: 13px 90px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    height: 50px;
    display: flex;
    width: 50%;
    justify-content: center;
  }
}
