.form {
  background-color: #ffffff;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 20px 7px 34px 12px;
  max-width: 535px;
  margin: auto;
  margin-top: 13px;
}

.title {
  margin-top: 30px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #000000;
  padding-left: 20px;
}

.subtitle {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #80828A;
  padding-left: 20px;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 20px;
  width: 32%;
  margin-right: 14px;
  display: inline-block;
}

.ic2 {
  margin-top: 20px;
}

.inline-second-item {
  width: 62%;
  margin-right: 0;
}

.input {
  background-color: #f6f6f6;
  border-radius: 35px;
  border: 0;
  box-sizing: border-box;
  color: #000;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 1px 12px 2px;
  width: 100%;
}

.required-field {
  float: right;
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 6px;
}

.placeholder {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.help-message {
  position: absolute;
  color: grey;
  opacity: 0;
  left: 19px;
  bottom: 15px;
  font-size: 12px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #808097;
}

.input.description:focus {
  background-color: #ffffff;
  border: 1px solid #9eaeff;
}

.input:focus ~ .placeholder.textarea,
.input:not(:placeholder-shown) ~ .placeholder.textarea {
  transform: translateY(-88px) translateX(10px) scale(0.75);
  opacity: 0;
}

.input:not(:placeholder-shown) ~ .placeholder.textarea {
  color: #808097;
}

.input:focus ~ .help-message {
  transform: translateY(25px);
  opacity: 1;
}

input:focus {
  background-color: #ffffff;
  border: 1px solid #9eaeff;
}

.input:focus ~ .placeholder {
  color: #000;
}

.input.selector {
  width: 96%;
  color: #80828a;
}

.input.selector.checked {
  color: black;
}

.input.description {
  max-width: 516px;
  min-width: 516px;
  min-height: 178px;
  height: 178px;
}

.description-area {
  height: fit-content;
}

.input-container.ic1.selector-container {
  background-color: #f6f6f6;
  border-radius: 35px;
  border: 0;
  box-sizing: border-box;
  color: #000;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 17px 14px 4px;
  width: 35%;
}

.input-container.ic2.selector-container {
  background-color: #f6f6f6;
  border-radius: 35px;
  border: 0;
  box-sizing: border-box;
  color: #000;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 10px 14px 10px;
  width: 100%;
}

label.placeholder.textarea {
  top: 86px;
}

.button-wrapper {
  top: 199px;
  left: 495px;
  position: absolute;
}

.button-submit {
  background-color: #9eaeff;
  border: none;
  border-radius: 30px;
  color: rgb(27, 27, 27);
  padding: 13px 90px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  height: 50px;
}

.firstname-check {
  position: absolute;
  right: 36px;
  bottom: 5px;
  display: none;
}

.input.firstname:valid ~ .firstname-check {
  display: block;
}

.lastname-check {
  position: absolute;
  right: 36px;
  bottom: 5px;
  display: none;
}

.input.lastname:valid ~ .lastname-check {
  display: block;
}

.email-check {
  position: absolute;
  right: 36px;
  bottom: 5px;
  display: none;
}

.input.email:valid ~ .email-check {
  display: block;
}

.phone-check {
  position: absolute;
  right: 36px;
  bottom: 5px;
  display: none;
}

.input.phone:valid ~ .phone-check {
  display: block;
}

.company-check {
  position: absolute;
  right: 36px;
  bottom: 5px;
  display: none;
}

.input.company:valid ~ .company-check {
  display: block;
}

@media (max-width: 920px) {
  .form {
    background-color: #ffffff;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 20px 7px 19px 12px;
    max-width: 535px;
    margin: auto;
    margin-top: 13px;
  }
  .input-container.ic1.selector-container {
    width: 100%;
    margin-top: 2px;
  }
  .input-container.ic1.inline-second-item {
    border-radius: 35px;
    border: 0;
    color: #000;
    font-size: 18px;
    height: 50px;
    outline: 0;
    width: 100%;
  }
  .title {
    width: 260px;
    height: 17px;
    font-family: "Arial";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #212e35;
    margin-top: 51px;
    padding-left: 13px;
  }
  .subtitle {
    width: 269px;
    height: 50px;
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #80828a;
    margin-top: 6px;
    padding-left: 13px;
  }
  .input.description {
    max-width: 273px;
    min-width: 273px;
    min-height: 190px;
  }
  .description-area {
    height: fit-content;
  }
  .button-wrapper {
    top: 258px;
    left: 159px;
    position: absolute;
    width: 180px;
  }
  .button-submit {
    background-color: #9eaeff;
    border: none;
    border-radius: 30px;
    color: rgb(27, 27, 27);
    padding: 13px 90px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    height: 50px;
    display: flex;
    width: 50%;
    justify-content: center;
  }
}
